.env
CACHE
.idea/

nole/__pycache__/
staticfiles/
*.pyc
*.pdf

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# Python virtual environments
.venv/
venv/

# Local SQLite databases
*.sqlite3