{% extends "base.html" %}
{% block content %}
    <article class="format lg:format-lg max-w-none">
        <h3 class="title">Password Reset Complete</h3>
        <p class="text-body">Your password has been set. You can now log in with your new password.</p>
        <div class="gap-3">
            <a href="{% url 'login' %}"
               class="text-white bg-red-700 hover:bg-red-800 box-border border border-transparent focus:ring-4 focus:ring-red-600 shadow-xs font-medium leading-5 rounded-base text-sm px-3 py-2 focus:outline-none inline-block no-underline">
                Log In
            </a>
            <a href="/"
               class="text-body bg-neutral-secondary-medium box-border border border-default-medium hover:bg-neutral-tertiary-medium hover:text-heading focus:ring-4 focus:ring-neutral-tertiary shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none no-underline">
                Go to Home
            </a>
        </div>
    </article>
{% endblock %}
