<div class="mb-5">
    <label for="{{ field.id_for_label }}" class="block mb-2.5 text-sm font-medium text-heading">
        {{ label }}
    </label>
    <select id="{{ field.id_for_label }}" name="{{ field.name }}"
            class="block w-full px-3 py-2.5 bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand shadow-xs"
            {% if required %}required{% endif %}>
        {% if empty_label %}
            <option value="">{{ empty_label }}</option>
        {% endif %}
        {% for value, display in field.field.choices %}
            {% if value %}
                <option value="{{ value }}" {% if field.value|stringformat:"s" == value|stringformat:"s" %}selected{% endif %}>
                    {{ display }}
                </option>
            {% endif %}
        {% endfor %}
    </select>
    {% if field.errors %}
        <p class="mt-2 text-sm text-red-600">{{ field.errors.0 }}</p>
    {% endif %}
</div>
