{% extends "base.html" %}
{% load form_tags %}

{% block content %}
<article class="format lg:format-lg max-w-none">   
<h3 class="title">{{ application_type }} Application</h3>

{% if application_type == "Student" %}
    <p class="pb-4">Please select an advisor from the list of available researchers.</p>
{% endif %}

<form method="POST" enctype="multipart/form-data" class="max-w-full mx-auto">
    {% csrf_token %}
    
    {% if form.non_field_errors %}
    <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50" role="alert">
        {{ form.non_field_errors }}
    </div>
    {% endif %}

    {% if form.advisor %}
        {% render_select form.advisor label="Select an Advisor" empty_label="Select an existing researcher as an advisor" %}
    {% endif %}

    {% render_field form.first_name label="First Name" placeholder="First name" %}

    {% render_field form.last_name label="Last Name" placeholder="Last name" %}

    {% render_field form.education label="Current Institution" placeholder="Current Institution" %}

    {% if form.position %}
        {% render_field form.position label="Position" placeholder="Position" %}
    {% endif %}

    {% render_select form.country_code label="Country" empty_label="Choose a country" %}

    {% render_field form.motivation label="Motivation" %}

    {% render_field form.resume label="Upload Resume/CV (PDF only)" %}

    {% if form.research_papers %}
        {% render_field form.research_papers label="Upload Research Papers (PDF only)" help_text="Upload up to 3 research papers in PDF format" %}
    {% endif %}

    

    {% render_field form.email label="Email" placeholder="net-id@school.edu" %}

    {% render_field form.password1 label="Password" placeholder="•••••••••" help_text="Enter a secure password" %}
    {% render_field form.password2 label="Confirm Password" placeholder="•••••••••" help_text="Enter the same password as before, for verification" %}

    <div class="flex gap-3 mb-5">
        <button type="submit" class="btn-primary">
            Submit Application
        </button>
        <a href="/" class="btn-secondary">Cancel</a>
    </div>
</form>
 </article>
{% endblock %}
