{% extends "base.html" %}

{% block title %}Edit Profile{% endblock %}

{% block content %}
{% load crispy_forms_tags %}
{% load static %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.css">
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify"></script>
<h2 class="title">Edit Your Profile</h2>
<form method="POST" enctype="multipart/form-data" class="mb-3">
    {% csrf_token %}
    <div class="row">
        <div class="row">
            <div class="col-md-3 d-flex flex-column justify-content-start">
                {% if request.user.profile.avatar %}
                <img id="avatar-preview"
                     src="{{ request.user.profile.avatar.url }}"
                     alt="Profile Picture"
                     class="rounded preview-img"
                     width="218" height="300">
                {% else %}
                <img id="default-avatar-preview" src="{% static 'images/default-avatar.jpg' %}"
                     alt="No Profile Picture" class="rounded" width="138" height="183">
                {% endif %}
            </div>

            <div class="col-md-8">
                {{ user_form.email|as_crispy_field }}
                {{ form.position|as_crispy_field }}
                {{ form.education|as_crispy_field }}
                {{ form.avatar|as_crispy_field }}
            </div>
        </div>
        {{ form.website|as_crispy_field }}
        {{ form.biography|as_crispy_field }}
        {{ form.research_interests_input|as_crispy_field }}
        <div>
            <button type="submit" class="btn btn-primary me-3">Save</button>
            <a class="btn btn-secondary"
               style="margin-bottom: 0 "
               href="{% url 'profile' %}">Cancel</a>
        </div>
    </div>
</form>
<script src="{% static 'js/research_interests.js' %}"></script>
<script>
document.addEventListener("DOMContentLoaded", function () {
    const input = document.querySelector('input[name="avatar"]');
    const preview = document.getElementById("avatar-preview");

    input?.addEventListener("change", function (e) {
        const file = e.target.files[0];
        if (file && file.type.startsWith("image/")) {
            const reader = new FileReader();
            reader.onload = function (e) {
                preview.src = e.target.result;
            };
            reader.readAsDataURL(file);
        }
    });
});
</script>
{% endblock %}
