{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="container">
    <div class="d-flex align-items-start gap-5">
        <div>
            <img src="{{ user.profile.avatar.url }}" alt="Profile picture"  width="150">
        </div>
        <div class="profile-details">
            <div>{{ user.first_name }} {{ user.last_name }}</div>
            <div>{{ user.profile.education }}</div>
            <div> {{ user.date_joined|date:"F j, Y" }}</div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <h5>Biography</h5>
            <p>{{ user.profile.biography }}</p>
        </div>
    </div>
</div>
{% endblock %}
