{% extends 'base.html' %}
{% load static %}
{% block content %}
    <article class="max-w-none format lg:format-lg">
        <div class="row mb-4">
            <div class="col-12">
                {% if user_type == 'student' %}
                    <h2 class="title text-center mb-4" style="font-size:2rem">Directory of Students</h2>
                {% else %}
                    <h2 class="title text-center mb-4" style="font-size:2rem">Directory of Researchers</h2>
                {% endif %}
                {% include 'partials/_search_form.html' with search_placeholder="Search scholars..." search_filters=user_filters %}
            </div>
        </div>
        <section class="section">
            <div class="container">
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
                    {% for user in users %}
                    <a class="bg-neutral-primary-soft block max-w-full p-6 border border-default rounded-base shadow-xs hover:bg-neutral-secondary-medium no-underline" href="{% url 'profile' pk=user.id %}"> 
                        
                            <div class="flex flex-col gap-1 items-center">
                                    <img class="w-24 h-24 rounded-full object-cover"
                                         src="{{ user.profile.avatar.url }}"
                                         alt="{{ user.first_name }} {{ user.last_name }}" />
                                <h5 class="mb-0.5 text-xl font-semibold tracking-tight text-heading">
                                    {{ user.first_name }} {{ user.last_name }}
                                </h5>
                                <span class="text-sm text-body mb-2">{{ user.profile.position|default:"Position not specified" }}</span>
                                {% if user.profile.research_interests %}
                                    <div class="flex flex-wrap gap-2 justify-center mb-4">
                                        {% for interest in user.profile.research_interests|slice:":3" %}
                                            <span class="bg-red-100 text-red-700 text-sm font-medium px-2 py-1 rounded">{{ interest.value }}</span>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                
                            </div>
                    </a>
                    {% endfor %}
                </div>
                <!-- Pagination -->
                <div class="mt-4 pt-2 col-lg-12">
                    <nav aria-label="Users pagination">
                        <ul class="pagination justify-content-center">
                            {% if users.has_previous %}
                                <li class="page-item">
                                    <a class="page-link"
                                       href="?q={{ query }}&filter={{ filter_type }}&page={{ users.previous_page_number }}">Previous</a>
                                </li>
                            {% endif %}
                            {% for num in users.paginator.page_range %}
                                {% if users.number == num %}
                                    <li class="page-item active">
                                        <span class="page-link">{{ num }}</span>
                                    </li>
                                {% elif num > users.number|add:'-3' and num < users.number|add:'3' %}
                                    <li class="page-item">
                                        <a class="page-link"
                                           href="?q={{ query }}&filter={{ filter_type }}&page={{ num }}">{{ num }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                            {% if users.has_next %}
                                <li class="page-item">
                                    <a class="page-link"
                                       href="?q={{ query }}&filter={{ filter_type }}&page={{ users.next_page_number }}">Next</a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
        </section>
    </article>
{% endblock %}
