{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
    <h2 class="title">Users by Country</h2>
    <div class="grid bound-layout layout-one-column">
        <div id="map-wrap">
            {% include 'partials/world.svg' %}
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const svgPaths = document.querySelectorAll("#map-wrap .land");
        svgPaths.forEach(path => {
            path.addEventListener("click", () => {
                svgPaths.forEach(p => p.classList.remove("selected"));
                path.classList.add("selected");
            });
        });
    });
</script>
{% endblock %}
