{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
    <h2 class="title text-center" style="font-size:2rem">Explore Our Impact</h2>
    <div class="text-center pb-5">Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien
        vitae pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam
        urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia
        integer nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu. Ad litora torquent per conubia
        nostra inceptos himenaeos.
    </div>
    <div class="grid bound-layout layout-one-column">
        <div class="text-center mb-5">
            <button id="toggle-users" class="toggle-btn selected me-4" type="button">Scholars</button>
            <button id="toggle-papers" class="toggle-btn" type="button">Discussion Papers</button>
        </div>

        <div class="mb-4" id="map-wrap">
            {% include 'partials/world.svg' %}
        </div>
        <hr class="divider">
        <div>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem
                placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor.
                Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia
                integer nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu. Ad litora torquent per
                conubia nostra inceptos himenaeos.</p>

        </div>
        <div class="mb-4" id="display-items"></div>
    </div>
</div>
<script src="{% static 'js/map.js' %}"></script>
{% endblock %}
