:root {
    --primary: #B31B1B;
    --black: #222222;
    --white: #ffffff;
}

@font-face {
    font-family: "Replica-Bold", sans-serif;
    src: url("../fonts/Replica-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Replica-Light", sans-serif;
    src: url("../fonts/replica-light.ttf") format("truetype");
}

.h3, h3 {
    font-size: 1rem;
    font-family: "Replica-Bold", sans-serif;
    font-weight: 400;
    line-height: 1.2;
    color: var(--primary);
    -webkit-font-smoothing: antialiased;
}

h3.title {
    padding-bottom: 15px;
}

h2.title {
    font-size: 1.5rem;
    font-family: "Replica-Bold", sans-serif;
    font-weight: 400;
    padding-bottom: 15px;
    line-height: 1.2;
    color: var(--primary);
    -webkit-font-smoothing: antialiased;
}

.list-title {
    font-size: 1.1rem;
    padding-top: 0.2rem;
    font-family: "Replica-Bold", sans-serif;
    font-weight: 500;
    line-height: 1.2;
    color: var(--primary);
}

.list-description {
    font-size: .9rem;
    margin-bottom: 0.2rem;
}

body {
    font-family: "Replica-Light", sans-serif;
    color: var(--black);
    font-weight: 200;
}

a {
    margin-bottom: 0.5rem;
}

ul {
    padding-inline-start: 0;
}

.list-group a div {
    font-size: 1.075rem;
    font-weight: 700;
    line-height: 1;
    cursor: pointer;
}

.copy-expandable {
    margin-bottom: 20px;
}

.small-headline {
    font-size: .9rem;
    padding-bottom: 0px;
    color: gray;
    font-weight: 600;
}

.box-list-headline {
    font-size: 1rem;
    padding-bottom: 0px;
    color: gray;
    font-weight: 400;
    line-height: 2;
}

div.box-list {
    margin: 0;
    padding: 0;
}

.box-list ul li {
    display: inline-block;
    margin-right: 5px;
}

.box-list ul li a,
.box-list ul li a:visited {
    display: inline-block;
    text-align: center;
    padding: 2px 10px;
    background-color: var(--primary);
    line-height: 1.75;
    border-radius: 3px;
    font-size: .95rem;
    color: var(--white);
    text-decoration: none;
    font-weight: 400;
}

.authors {
    font-family: "Replica-Light", sans-serif;
    color: var(--black);
    font-size: 0.9rem;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 15px;
}

.publications-header {
    margin-bottom: 10px;
}

.profile-details {
    margin-bottom: 1px;
}

.element-business-card {
    background-color: var(--white); /* light gray */
    padding: 20px;
    border-radius: 8px;
}

.element-business-card .element-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter:grayscale(1);
}

.element-business-card h3 {
    color: var(--primary);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 0rem;
    padding-bottom: 5px;
}

.element-business-card h4 {
    color: var(--black);
    font-size: 1rem;
    font-weight: 200;
    line-height: 1.5;
    margin-bottom: 0px;
}

.element-business-card-details {
    padding: 8px 5px 17px 15px;
}

.navbar a:focus,
.navbar a:hover {
    color: var(--black) !important;
}

.navbar a {
    font-family: "Replica-Bold", sans-serif !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    text-transform: uppercase !important;
}

.navbar.navbar-default {
    background-color: #ffffff;
    border-color: #ffffff;
}

.navbar-nav svg {
    vertical-align: middle;
    display: block;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    color: var(--black) !important;
    cursor: pointer;
}

.btn-primary {
    background-color: var(--primary);
    border: none;
    padding: 0.70rem 0.80rem .6rem .8rem;
    border-radius: 0.5rem;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
}


