{% extends "base.html" %}
{% load static %}
{% block title %}
    Seminars
{% endblock title %}
{% block content %}
    <article class="max-w-none format lg:format-lg">
        <h2>Seminars</h2>
        <p>
            Discover and attend academic seminars hosted by our research community. Join discussions, learn from experts, and expand your knowledge in various fields of study.
        </p>
        {% include "partials/_search_form.html" with search_placeholder="Search seminars..." search_filters=seminar_filters %}
        <div class="flex flex-col gap-3">
            {% for seminar in seminars %}
                {% if seminar.host %}
                    {% include "partials/_list_item.html" with title=seminar.title date=seminar.date|date:"M d, Y" subtitle="Hosted by "|add:seminar.host.get_full_name location=seminar.location description=seminar.description|truncatewords:30 meta=seminar.date|date:"H:i" %}
                {% else %}
                    {% include "partials/_list_item.html" with title=seminar.title date=seminar.date|date:"M d, Y" subtitle="Host TBA" location=seminar.location description=seminar.description|truncatewords:30 meta=seminar.date|date:"H:i" %}
                {% endif %}
            {% empty %}
                {% include "partials/_empty_state.html" with text="No seminars scheduled at the moment. Check back soon!" %}
            {% endfor %}
        </div>
        {% include "partials/_pagination.html" with page_obj=page_obj is_paginated=is_paginated querystring="q="|add:query|add:"&filter="|add:filter_type %}
    </article>
{% endblock content %}
