{% extends "base.html" %}
{% load static %}
{% block title %}{{ publication.title }}{% endblock %}
{% block content %}
    <article class="max-w-none format lg:format-lg">
        <div class="col md-6">
            <div class="flex flex-row w-full justify-between items-center">
                <p>{{ publication.formatted_date }}</p>
                <div class="not-format">
                    {% if user.is_authenticated %}
                        {% for author in publication.authors.all %}
                            {% if author.user == user %}
                                <a href="{% url 'edit_publication' pk=publication.pk %}"
                                   class="text-white bg-red-700 hover:bg-red-800 box-border border border-transparent focus:ring-4 focus:ring-red-600 shadow-xs font-medium leading-5 rounded-base text-sm px-3 py-2 focus:outline-none inline-block">Edit Paper</a>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="flex flex-row gap-2 items-center w-full overflow-auto">
                <h3>{{ publication.title }}</h3>
                {% if publication.pdf %}
                    <a href="{{ publication.pdf.url }}"
                       download="{{ publication.title }}.pdf"
                       target="_blank"
                       class="ml-0">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             width="20"
                             height="20"
                             class="inline"
                             fill="var(--primary)"
                             viewBox="0 0 16 16">
                            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5" />
                            <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z" />
                        </svg>
                    </a>
                {% endif %}
            </div>
            <div class="not-format mb-4">
                {% for author in publication.authors.all %}
                    {% if author.user %}
                        <a class="text-red-700 underline"
                           href="{% url 'profile' pk=author.user.id %}">{{ author.user.get_full_name }}</a>
                    {% else %}
                        {{ author.name }}
                    {% endif %}
                    {% if not forloop.last %},{% endif %}
                {% endfor %}
            </div>
        </div>
        <h4>Abstract</h4>
        {{ publication.abstract|linebreaks }}
        <h4>Country of study</h4>
        <p>{{ publication.country_code }}</p>
        <h4>Topic of study</h4>
        <p>{{ publication.topic }}</p>
        
        <h4>Keywords</h4>
        <div class="flex flex-row overflow-auto w-full not-format gap-2 mb-6">
            {% if publication.is_job_market %}
                <span class="bg-red-100 text-red-700 text-sm font-medium px-2 py-1 rounded">Job Market</span>
            {% endif %}
            {% for keyword in publication.keyword_list %}
                <span class="bg-red-100 text-red-700 text-sm font-medium px-2 py-1 rounded">{{ keyword }}</span>
            {% endfor %}
        </div>

        <h4>Link to study</h4>
        <a href="{{ publication.study_url }}" class="pb-3">{{ publication.study_url }}</a>
    </article>
{% endblock content %}
