{% extends "base.html" %}
{% load static %}
{% block title %}Discussion Papers{% endblock %}
{% block content %}
    <article class="max-w-none format lg:format-lg">
        <h2>Discussion Papers</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat.
            In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus fringilla
            lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel
            class aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.
        </p>
        <div class="not-format">
            {% include 'partials/_search_form.html' with search_filters=publication_filters filter_type=filter_type query=query search_placeholder='Add one or more search terms' use_tag_pills=True %}
            {% include 'partials/_publications_list.html' with publications=publications %}
        </div>
    </article>
{% endblock %}
