{% extends "base.html" %}

{% block title %}Upload Paper{% endblock %}

{% block content %}
{% load crispy_forms_tags %}
{% load static %}
<script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify"></script>
<script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.polyfills.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.css" rel="stylesheet" type="text/css" />

<h2 class="title">Upload paper</h2>
<form method="POST" class="post-form">
    {% csrf_token %}
<!--    {{ form|crispy }}-->
    {% crispy form %}
</form>
<script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.css" />
<script src="{% static 'js/authors.js' %}"></script>
{% endblock %}
