{% extends "base.html" %}
{% load form_tags %}

{% block title %}
    {% if object %}Edit event{% else %}Create an event{% endif %}
{% endblock title %}

{% block content %}
<article class="format lg:format-lg max-w-none">
<h3 class="title">{% if object %}Edit event{% else %}Create an Event{% endif %}</h3>
{% load static %}

<form method="POST" class="mb-8" enctype="multipart/form-data">
    {% csrf_token %}
    {% if form.non_field_errors %}
    <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50" role="alert">
        {{ form.non_field_errors }}
    </div>
    {% endif %}

    {% render_field form.title %}

    {% render_field form.description %}

    {% render_field form.date %}

    {% render_field form.end_date %}

    {% render_field form.deadline_date %}

    {% render_field form.application_url %}

    {% render_field form.location %}

    {% render_field form.category %}

    <div class="flex gap-3 mb-5">
        <button type="submit" class="btn-primary">
            Submit
        </button>
        <a href="/events/" class="btn-secondary">Cancel</a>
    </div>

</form>
 </article>
{% endblock %}
