{% extends "base.html" %}
{% load form_tags %}

{% if object %}
Edit Paper
{% else %}
Submit Paper
{% endif %}

{% block content %}
<article class="format lg:format-lg max-w-none">   
<h3 class="title">Create an Event</h3>
{% load static %}

<form method="POST" class="mb-8" enctype="multipart/form-data">
    {% csrf_token %}
    {% if form.non_field_errors %}
    <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50" role="alert">
        {{ form.non_field_errors }}
    </div>
    {% endif %}

    {% render_field form.title %}

    {% render_field form.description %}

    {% render_field form.date %}

    {% render_field form.end_date %}

    <div>
        <p class="block mb-2.5 text-sm font-medium text-heading">Application Deadline <span class="text-body font-normal">(Optional)</span></p>
        <div class="flex flex-row gap-3">
            <div class="flex-1">
                {% render_field form.deadline_date label="Deadline Date" %}
            </div>
            <div class="flex-1">
                {% render_field form.deadline_time label="Deadline Time" %}
            </div>
        </div>
    </div>

    {% render_field form.location %}

    {% render_field form.category %}

    <div class="flex gap-3 mb-5">
        <button type="submit" class="btn-primary">
            Submit
        </button>
        <a href="/events/" class="btn-secondary">Cancel</a>
    </div>

</form>
 </article>
{% endblock %}
